﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>

<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
	<%--first one is english--%>
	<asp:View ID="View1" runat="server">mETa</asp:View>
	<asp:View ID="View2" runat="server">外星球于元宇宙</asp:View>
</cc1:enCn__BySession>
