﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="Heading.ascx" TagPrefix="uc1" TagName="Heading" %>


<a href="<%=ResolveUrl("~/meta/") %>">
	
	<uc1:Heading runat="server" ID="Heading" />
</a>
