﻿<%@ Control Language="C#" AutoEventWireup="true" %>









<%@ Register Src="~/research/Link.ascx" TagPrefix="uc1" TagName="Link" %>
<%@ Register Src="~/_teach/Intro.ascx" TagPrefix="uc1" TagName="Intro" %>
<%@ Register Src="~/_research/Intro.ascx" TagPrefix="uc2" TagName="Intro" %>
<%@ Register Src="~/_org/Intro.ascx" TagPrefix="uc3" TagName="Intro" %>
<%@ Register Src="~/_society/Intro.ascx" TagPrefix="uc4" TagName="Intro" %>

<%--<section>
	<h1>教师、工程师、公民</h1>--%>

	<uc1:Intro runat="server" ID="Intro" />

	<uc2:Intro runat="server" ID="Intro1" />

	<uc3:Intro runat="server" ID="Intro2" />
	<uc4:Intro runat="server" ID="Intro3" />
<%--</section>--%>
