﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="wangyoutian.WEB.Default" %>

<%@ Register src="_Default.ascx" tagname="_Default" tagprefix="uc1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    


		<uc1:_Default ID="_Default1" runat="server" />
    


</body>
</html>
