﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/Whole.master" AutoEventWireup="true" CodeBehind="Default1.aspx.cs" Inherits="wangyoutian.WEB.Default1" %>
<asp:Content ID="Content0" ContentPlaceHolderID="head" runat="server">
	<title>欢迎访问王有天的网站！</title>
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">

	</asp:Content>
