﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>
<%@ Register Src="~/_teach/_intro_/Link.ascx" TagPrefix="uc1" TagName="Link" %>





<section>
	<h1>
		<uc1:Link runat="server" ID="Link" />

</h1>
<p>
		我教授信息管理系统研发课程，力图把最先进的技术传承给未来的建设者，使他们可以有不弱于竞争对手的工具来生存、贡献和繁荣。<%--涵盖从后端一直到前端全栈，包括数据库、服务器和客户端编程、网页程序。--%>
	</p>



</section>


