﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<style type="text/css">
    .auto-style1 {
        text-decoration: underline;
    }
</style>

<section>
	<h1>为什么不继续向上级反映？
	</h1>
	<p>
		对于最开始的5年拖延，我们觉得是江夏区政府遇到了困难，所以我们选择了体谅和等待。
	</p>
	<p>
		当我们达成卖卖交易而被告知：
	</p>
	<ol>
		<li>该房产只能卖给企业；</li>
		<li>江夏区按照房产证只能发给企业的规定给我们发放了个人不动产证
		</li>
	</ol>
    <p>
        我们选择了当面沟通要求按照武汉市规定给予书面告知，被搪塞后我开始打市长热线；奔走多次后，其书面告知只把他们答复的上述第一条写进去了，没有写他们答复的第二条。无奈，我们向武汉市纪委治庸办网站反应，但最终的答复还是市长热线的回答人，这一过程让我感到武汉市治庸办没有起到治病的作用，反而被病人感染。我在领导留言板也反应过，最终给我答复的还是回复市长热线的那个人，答复也是一样的，即照着文件念：“按照江夏区房产证<strong>必须发给<span class="auto-style1">企业</span></strong>的规定，给你<span class="auto-style1"><strong>个人</strong></span>发了个人证”（我听到时是不敢相信自己的耳朵的，于是请其再念一遍，其果然又念了一遍）。</p>
    <p>
        等待了5年，奔走了5年，在穷尽武汉市内所有我能反映情况的方法后，不仅没有解决问题，反而感觉自己被整个流程捉弄了一番；因此，我对武汉市内目前的反馈机制已经绝望。<%--不再抱有指望。--%></p>
    <p>
        我认为没有必要再向上级反映。如果这样的陈芝麻烂谷子都要上级来解决，那还要武汉市这一级政府干什么。</p>
    <p>
        这个问题武汉市应该而且能解决。这也是我要竞任武汉市长的原因。</p>

</section>
