﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="_web_/Weixin.ascx" TagPrefix="uc1" TagName="Weixin" %>
<%@ Register Src="_web_/Alipay.ascx" TagPrefix="uc1" TagName="Alipay" %>







<section>

	<h1>捐赠</h1>
	<p>
		若您采用手机支付，以下为代收二维码。
	</p>
	<uc1:Weixin runat="server" ID="Weixin" />
	<uc1:Alipay runat="server" ID="Alipay" />
</section>


