﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_society/_intro_/Link.ascx" TagPrefix="uc1" TagName="Link" %>






<section>
	<h1>

		<uc1:Link runat="server" ID="Link" />
	</h1>

	<p>
因为武汉江夏区有关部门违践踏国家法规和上级政令，拖延、隐瞒和戏弄，在过去的十年里我先是在信任中等待，又在奔走中愤慨。在尝试过所有维权途径后，我已经对武汉市内纠正这么明显的违法行为不抱指望。我决定自己竞任下一任武汉市长，来解决自己的冤屈，兼济周围的人。 </p>


</section>


