﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>

	<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
		<%--first one is english--%>
		<asp:View ID="View1" runat="server">Teach</asp:View>
		<asp:View ID="View2" runat="server">传承文明</asp:View>
	</cc1:enCn__BySession>
