﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>
<%@ Register Src="Cpark.ascx" TagPrefix="uc1" TagName="Cpark" %>
<%@ Register Src="~/society/party/Link.ascx" TagPrefix="uc1" TagName="Link" %>




<section>
	<h1>家事国事天下事

	</h1>


	<uc1:Cpark runat="server" id="Cpark" />
	<section>
		<h1>
			<a href="http://nilnulco.w20.wh-2.com/app_/nilnul._express_._compose_/Loader1.aspx?url=/app_/wuhan.jiangxia.canglongdao.cpark.grievance/article_/Mayor.ascx&title=%E6%88%91%E4%B8%BA%E4%BB%80%E4%B9%88%E8%A6%81%E5%BD%93%E6%AD%A6%E6%B1%89%E5%B8%82%E9%95%BF%E4%BB%A5%E5%8F%8A%E6%88%91%E8%A6%81%E6%80%8E%E6%A0%B7%E5%BD%93%E6%AD%A6%E6%B1%89%E5%B8%82%E9%95%BF">

				<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
					<%--first one is english--%>
					<asp:View ID="View1" runat="server">Run for the position of WuHan Mayor</asp:View>
					<asp:View ID="View2" runat="server">竞任武汉市长</asp:View>
				</cc1:enCn__BySession>

			</a>
		</h1>
		<p>
			我为什么要竞任武汉市长，以及我准备怎么当好武汉市长
		</p>
	</section>

	<section>
		<h1>
			<uc1:Link runat="server" ID="Link" />
		</h1>
	</section>

	
			
			<%--<li>
				关于在武汉市内增设民主党派的建议
			</li>--%>


	


</section>
