﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc2" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>


<%@ Register Src="~/prj_/cpark/loan/letter/link/blog/Link.ascx" TagName="Link" TagPrefix="uc1" %>
<%@ Register Src="~/society/_cpark_/niece/Link.ascx" TagPrefix="uc2" TagName="Link" %>
<%@ Register Src="~/society/_cpark_/bank/Link.ascx" TagPrefix="uc3" TagName="Link" %>



<section>
	<h1>
		<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
			<%--first one is english--%>
			<asp:View ID="View1" runat="server">My personal journay for fairness and freedom -- the house, the law and the local government</asp:View>
			<asp:View ID="View2" runat="server">一段为公平和自由的旅程--创制<%----%>天地维权记</asp:View>
		</cc1:enCn__BySession>

	</h1>
	<q title="又如脚底的一根刺，每跑一步都能感觉到刺痛">使人疲惫的不是远方的高山，而是鞋里的一粒沙子</q>
	<ol>
		<li>
			<uc3:Link runat="server" ID="Link2" />
		</li>
		<li>

			<uc1:Link ID="Link1" runat="server" />

		</li>
		<li>
			<uc2:Link runat="server" ID="Link" />
		</li>
		<li>

			<a href="http://nilnulco.w20.wh-2.com/app_/nilnul._express_._compose_/Loader1.aspx?url=/app_/wuhan.jiangxia.canglongdao.cpark.grievance/article_/_mayor_/Serialized.ascx&title=%e6%ad%a6%e6%b1%89%e6%b1%9f%e5%a4%8f%e5%8c%ba%e6%9c%89%e5%85%b3%e9%83%a8%e9%97%a8%e5%9c%a8%e5%88%9b%e6%99%ba%e5%a4%a9%e5%9c%b0%e6%a5%bc%e7%9b%98%e6%8b%96%e5%bb%b6%e3%80%81%e6%ac%ba%e9%aa%97%e3%80%81%e6%88%8f%e5%bc%84%e8%80%81%e7%99%be%e5%a7%93%e7%9a%84%e8%bf%87%e7%a8%8b">十年的拖延、欺骗和戏耍</a></li>
        <li>
			<cc2:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="_cpark_/Faq.ascx" title="常见问题及回答">
<%--~/abc/def.ascx or /abc or abc/def--%>常见问题及回答
			</cc2:link__loader__InThisApp>


			</li>
	</ol>

</section>



