﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/Whole.master" AutoEventWireup="true"  %>
<%@ Register src="_Default.ascx" tagname="_Default" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" runat="server">
    <form id="form1" runat="server">
        <uc1:_Default ID="_Default1" runat="server" />
    </form>
</asp:Content>
