﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<section>
	<h1>
		关于武汉市依法新增民主党派的建议
	</h1>
	<p>
		从我十年等待和奔走的经历来看，武汉市治庸问责专项不但没有治住庸懒散，自己也反被严重感染。</p>
    <p>
		从搜索引擎搜索“武汉治庸问责”，得到的报道连篇累牍，看标题都是“掀起”“风暴”。看完，不但没有让人感觉到治庸问责的成就，反而让人愈加揪心。从2011年开始到现在，我们的治庸问责每年都在问，但却越问越庸。</p>
    <ol>
        <li>在长江日报2014年报道里，武汉治庸3年，电视问政引领50个城市；这算是参政议政红脸出汗的一个举措。</li>
        <li>一年后，在长江商报2015年报道中说问责5499人，包括41名局级干部，但文中举了个不痛不痒的副科长开公车买儿童套餐的问题。难道我们问政都关心的是这种问题？为什么我反映的问题从来就没有人问？</li>
        <li>武汉晚报在16年报道，武汉问责8262人，涉及局级干部61人。人数反而再增加。</li>
        <li>后续再看搜索结果，有长江网的评议，又邀请纪委的直播等。</li>
    </ol>
    <p>
        这些反映问题的渠道我试过很多，不但没有解决问题，反而更加遭受挫折。这些什么小程序、手机上的直播发消息相当难用，费劲发了也没人答理；有些网页画面宏大，但技术相当落后，还有字数限制，没法贴附件，简直是故意给人添堵。无论在哪在什么级别反映的问题，最后都到一个办事员的头上，给出同样的回答。这些问责反馈渠道其本身就臃肿不堪，我们有那么便宜通用敞亮的电子邮箱为什么就不能用呢？</p>
    <p>
		在过去十年这治庸问责“风暴”中，正是我被拖延、欺骗、戏弄的十年。从武汉创智天地楼盘一案行政上看，武汉市落后了广州8年（行政、经济特区都在沿海，沿海已经相当发达，现在中部亟需国家也给予一些特区政策，搞活这些相对欠发达地区！），且至今还是一本烂账，如果不刮骨疗毒，恐怕这本烂账还会一直烂在哪里，无人问津，直到买房人死亡若干年才会爆发，这是给未来武汉市府埋得多大的雷啊。</p>
    <p>
		武汉平时都是这样庸堵，在遇到突发情况时，根本难堪重任。就我的经历，我对目前的武汉市内治庸问责机制和效果感到失望。<%--此问题对武汉市来说已入膏肓，若不按中央号召的那样来“刮骨疗毒”，武汉的政务系统估计要被庸堵到半瘫痪。--%>
     </p>
    <p>
		治庸必须启用初出牛犊的<%--苦寒学生，他们是--%>饿汉子，<%--嫉恶如仇，--%>看到欺上瞒下的就会真地掀起风暴。而就我反映问题的经历，处理我反映问题的治庸办公人员，都像吃饱的汉子，就是给他们端上山珍美味，他们都难得睁眼看一下。我在奔走的过程中，所有的文件都还是我找来的，处理我反映问题的，还得我给其提示有哪些文件。</p>
    <p>
		真要治庸，必须要让感受到庸堵之痛的服务对象来治，更直接、更迅速，更彻底，成本更低。我们不仅要电视问政，更应该用我们现有的参政议政机制，让老百姓、人大代表、民主党派不断地批评、督促。在没有竞争的情况下，承平已久，武汉市内民主党派目前也没有充分发挥宪法给他们的作用，在治庸问责中缺席，没有主动关心老百姓的疾苦问题去在人代会、电视、网络平台上积极评议发声。</p>
    <p>
		武汉整个的庸堵政务系统都需要强刺激才会动那么一下下。热力学上说封闭的系统必将陷于死寂，唯流水不腐。武汉治庸的刮骨之策在于要有不惮于发声、处于饥饿状态、不谙世故的新生力量。</p>
    <p>
		我们不能做等着武汉在治庸问责中溃败，基于此，按照宪法第三十五条“公民有言论、出版、集会、结社、游行、示威的自由”，我建议在武汉市内新设并愿意就此发起一个新的民主党派，对武汉市政务中的各种庸懒散情况积极发声，参政议政，和其它民主党派相互批评，让积压多年的陈年积案早点暴露出来，不给后任埋雷，从而让武汉能够甩掉包袱，奋发起来。武汉自然资源与规划局下2014年问治庸三年了长效机制何解？答案就在这里。</p>
    <p>
		<%--新设民主党派由于比较新，可以带来新的做法，把武汉市陈年积攒多年的雷排排爆，捅捅闭塞的管道，刺激刺激坐麻的神经。--%>新成立民主党派可以在上级征集市长人选意见时，积极推荐人选。能够作为联系人民群众的纽带，把散乱的意见整理组织反馈给各个部门，并能够积极就执行情况问政议政。如果网友们有什么好的建议包括应取何名（注意此为武汉市内新设的建议，名称必须冠以武汉二字），欢迎致信，甚或成为志愿者，协助处理相关事务。筹备和成立过程将严格按照法规报备，并接受上级指导。</p>
  
    
  
</section>


