﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_research/_intro_/Link.ascx" TagPrefix="uc1" TagName="Link" %>






<section>
	<h1>

		<uc1:Link runat="server" ID="Link" />
	</h1>
	<p>
		我着重于工程、科教软件的研发，产业化到企业，服务各行各业对信息管理的需求。
	</p>


</section>


