﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ Register Src="_society_/Heading.ascx" TagPrefix="uc1" TagName="Heading" %>





<a href="<%=ResolveUrl("~/society/") %>">
	
	<uc1:Heading runat="server" ID="Heading" />
</a>
