﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc2" %>

	

	<cc2:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="../niece.ascx" title="被欺骗的与被掠夺的">
被欺骗的与被掠夺的

	</cc2:link__loader__InThisApp>

