﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ Register Src="_faq_/WhyEscalate.ascx" TagPrefix="uc1" TagName="WhyEscalate" %>
<%@ Register Src="_faq_/Timeline.ascx" TagPrefix="uc1" TagName="Timeline" %>
<%@ Register Src="_faq_/Vs.ascx" TagPrefix="uc1" TagName="Vs" %>






<section>
	<h1>
		常见问题及解答
	</h1>
	

	<uc1:Timeline runat="server" ID="Timeline" />

	<uc1:Vs runat="server" ID="Vs" />

   
	<uc1:WhyEscalate runat="server" ID="WhyEscalate" />
</section>
