﻿<%@ Control Language="C#" AutoEventWireup="true" %>


<ol>


	<li>

		<a href="/app_/wyt.hbue.course_.db">数据库

		</a>
		<ul>
			<li>
				<a href="http://nilnul.com/app_/wyt.hbue.course_.dataMining_.y20s/">数据仓库与数据挖掘
				</a>
			</li>
			<li><a href="http://nilnul.com/app_/wyt.hbue.course_.bigData/">大数据导论</a></li>
		<%--	<li>


				<a href="http://nilnul.com/_apps/wyt/loader_/Beec.aspx?url=/app_/wyt.hbue.course_.im_._y18s_/Syllabus.ascx">信息管理概论

				</a>
			</li>--%>


			<%--<li><a href="http://nilnul.com/app_/wyt.teach.course_.mis_._17s">管理信息系统 </a></li>--%>
		</ul>
	</li>






	<li><a href="http://nilnul.com/app_/wyt.hbue.course_.webpage_.y22s/">网页程序设计
	</a></li>
	<li><a href="http://nilnul.com/app_/wyt.hbue.course_.site_.y22s/">网络应用程序开发
	</a></li>
	<li>
		<a href="http://nilnul.com/app_/wyt.hbue.course_.dev_.y20s/">IT项目管理</a>
		<%--<ul>
			 <li><a href="http://nilnul.com/app_/wyt.hbue.course_.design_.y19f_.class_s18/">电子商务系统分析与设计

			</a></li>
		</ul>--%>
	</li>






</ol>





