﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="_intro_/Link.ascx" TagPrefix="uc1" TagName="Link" %>

<section>
	<h1>
		<uc1:Link runat="server" ID="Link" />
	</h1>
	<p>
		任何一行，若想干到极致，必须终身致力于其。我在自己从事的领域是这么做的，也常给我的学生这么讲：这是艰深的行当，无论教与学都要费很大的力气，如果半途而废，着实可惜。但就在我们埋头躬耕志在长远的时候，如江夏区有关部门却乘我们信任和冲锋向前之际，在后为蝇头小利费劲心机欺蒙和戏弄我们。所以，我们一定要不愧于宪法制定者的良苦用心，积极参政议政而非只顾个人明哲保身的沉默，或者把自己的纵横捭阖的指挥浪费在街头巷议。而继大航海时代，我们很快将迎来大航天时代，在外星球开疆拓土；为此，我倡导用社会工程学的方法，在元宇宙中创建一个外星球的数字孪生世界，使得我们能够总结地球上的经验和教训，建设一个更好的外星球社会。
	</p>
</section>
