﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>

<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
	<%--first one is english--%>
	<asp:View ID="View1" runat="server">Open Source for SciTek&Edu</asp:View>
	<asp:View ID="View2" runat="server">科教公益众人行</asp:View>
</cc1:enCn__BySession>
<%--零空科教众人行公益组织--%>
